beautifulsoup4
docx2pdf
faiss-cpu
fastapi
httpx
langchain
langchain-community
langchain-huggingface
langchain-postgres
langchain-google-genai
langchain_together
langgraph
langgraph-prebuilt
langgraph-swarm
psutil
psycopg[binary,pool]
pymupdf
pypdf
python-dotenv
python-multipart
pytz
sentence-transformers
tf-keras
uvicorn
requests
ipython