langchain 
faiss-cpu
langchain-community 
fastapi
uvicorn
pymupdf
langchain_huggingface
langchain_together
langchain-google-genai
python-dotenv
tf-keras
pypdf
pydantic
langgraph
python-multipart
streamlit
sseclient-py