beautifulsoup4~=4.13.4
docx2pdf~=0.1.8
faiss-cpu
fastapi~=0.115.14
httpx
langchain~=0.3.26
langchain-community~=0.3.26
langchain-huggingface
langchain-postgres
langchain-google-genai~=2.1.5
langchain_together
langgraph~=0.4.10
langgraph-prebuilt
langgraph-swarm
psutil~=7.0.0
psycopg[binary,pool]~=3.2.9
pymupdf
pypdf
python-dotenv~=1.1.1
python-multipart
pytz
sentence-transformers
tf-keras~=2.15.0
uvicorn

requests~=2.32.4
ipython~=9.3.0